.top-section {
    background-color: black;
    height: 646px;
    width: 1321px;
}

main {
    display: flex;
    justify-content: center;

}

.div1 {
    display: flex;
    color: white;
}

.div1 .d1 {
    width: 50%;
}

.text {
    margin-top: 30px;
    margin-left: 107px;
}

.h1 {
    height: 350px;
    width: 531px;

}

.h1 h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;

}

.para {

    margin-top: 22px;
}

.para p {
    color: white;

    font-size: 16px;
    font-style: normal;
}


.image img {

    width: 581px;
    height: 613px;
    margin: 33px 79px 0 23px;

}

.btn {
    margin-top: 22px;
}

.btn button {
    width: 183px;
    height: 56px;
    background-color: #DD0000;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}


.btn button:hover {
    background-image: linear-gradient(to right, pink, purple);
}

.btn .icon {
    margin-left: 10px;
}

@media screen and (max-width:1023px) and (min-width:768px) {
    .top-section {

        width: 100%;

    }




}