@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common styles*/
body {
    font-family: 'Poppins', sans-serif;

}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}




/* top-section */
.top-section {
    background-color: black;
    max-width: 100%;
    border-radius: 30px;
}



.div1 {


    height: 646px;
    width: 1321px;

    display: flex;


}

.div1 .image .text {
    width: 50%
}


.text {
    margin-top: 30px;
    margin-left: 107px;
}

.h1 {
    height: 350px;
    width: 531px;

}

.h1 h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;

}

.para {

    margin-top: 22px;
}

.para p {
    color: white;

    font-size: 16px;
    font-style: normal;
}

.text,
.image {
    width: 50%;

}

.image img {

    width: 581px;
    height: 613px;
    margin: 33px 79px 0 23px;

}


button {
    width: 183px;
    height: 56px;
    background-color: #DD0000;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 15px;
}


.btn button:hover {
    background-image: linear-gradient(to right, pink, purple);
}

.b-icon {
    margin-left: 10px;
}


/* -------section2----------- */

.section2 {
    margin-top: 50px;
    display: flex;

    margin-bottom: 100px;
}


.div2 {
    background-color: black;
    height: 312px;
    width: 312px;
    border-radius: 10px;
}

.div2-inf {
    width: 252px;
    height: 252px;
    position: relative;
    left: 5px;
    top: 10px;


}


.match,
.group,
.blog {

    width: 250px;
    height: 54px;
    background-color: white;
    margin: 30px;



    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog {
    background-image: linear-gradient(to bottom, yellow, red);
    color: white;
    text-decoration: none;
}

.blog a {
    text-decoration: none;
    color: white;
}


/* grid part */
.grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-left: 24px;
}

.grid {
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 312px;
    height: 362px;
}

.grid-info h3 {
    font-size: 18px;

}

.grid button {
    padding: 5px;
    width: 100px;
    height: 32px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    background-color: white;
}

.grid-info {
    margin: 20px;
}

.grid-info button {
    color: black;
}

.grid-rating span {
    margin-left: 10px;
    font-size: 14px;
    color: grey;

}

.grid-rating .fa-clock {
    color: grey;
}

.grid-rating .fa-comment-dots {
    color: grey;
}

.grid-rating {
    display: flex;


}

.grid-rating .g2 {
    margin-left: 50px;
}

.div3 button {
    visibility: hidden;
    padding: 5px;
    width: 100px;
    height: 42px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    background-color: red;
    text-align: center;
    margin-bottom: 30px;
}

/* -----------footer=--------------- */

footer {
    background-color: black;
    height: 100%;
}

.foot {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}


.footer h3 {

    padding-top: 40px;
    color: white;
    font-size: 40px;
    margin-left: 600px;
}

.footer a {

    color: white;
    text-decoration: none;
    padding-left: 50px;
    font-size: 16px;
}

hr {
    width: 1320px;
}

nav {
    margin-top: 30px;
    margin-left: 180px;
}

.f-icons {

    display: flex;
    justify-content: center;

}

.f-icons a {
    font-size: 32px;
}

.icon {
    padding: 70px;
}





/* for responsive website */

@media screen and (max-width:576px) {

    .top-section {
        max-width: 100%;

    }

    .div1 {

        display: flex;
        flex-direction: column;
    }

    .div1 .text,
    .image {
        width: 100%;
    }


    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div2 {
        background-color: white;

        margin-left: 20px;
        margin-bottom: 20px;
    }

    .div2-inf .a1,
    .a2 {
        border: 0.5px solid grey;
    }

    .grids {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .foot {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
    }

    .f-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* -------tablet------------ */


@media screen and (max-width:768px) and (min-width:577px) {


    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .grids {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }



    .div3 button {
        visibility: visible;
    }

}



/* .foot {
    margin-left: 130px;
    margin-left: 130px;
    margin-top: 140px;
    margin-bottom: 140px;
} */